    $blue: #34a5da;

    @import url('https://fonts.googleapis.com/css?family=Lato:400,700');

    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    a {
        font-family: 'Lato', sans-serif;
    }
    .blue-text {
        color: $blue;
    }
    .row {
        margin: 0;
    }
     body {
        padding:0;
        margin: 0;
        width: 100vw;
        height: 100%;
        overflow-x: hidden;
        background-color: #bdbdbd;
    }
    body[data-aos-duration="400"] [data-aos] {
    transition-duration: 1s;
}
    #myHeader {
        padding: 0;
        height: 100vh;
        background: {
            image: url("../images/1.jpg");
            size: cover;
            position: center;
            attachment: fixed;
        }
        // clip-path: polygon(0 0%, 100% 0%, 100% 94%, 0 100%);
        .navbar {
            padding-top: 15px;
            padding-bottom: 0;

            .navbar-brand {
                color: $blue;
                margin-left: 30px;
                padding: 0;
            }
            .myToggler {
                margin-right: 20px;
                i {
                    color: white;
                    font: {
                        size: 25px;
                    }
                }
            }
            .navbar-nav {
                a {

                    color: #fff;
                    padding-left: 30px;
                    font: {
                        size: 1.2rem;
                    }
                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
        .row {
            position: relative;
            top: 50%;
            h2 {
                font-size: 4rem;
            }
        }
        .mask {
            padding: 0;
            margin: 0;
            position: absolute;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, .7);
        }
    }
    #aboutMe {
        padding-top: 5rem;
        .slikaDesno {
            img {
                box-shadow: 5px 5px 15px #000;
            }
        }
        p {
            padding: 5px;
            font: {
                size: 20px;
            }
        }
    }
    #portfolio {
        background-color: #f7f7f7;
        padding-top: 5rem;
        // clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0 100%);
        a {
            width: 80%;
            text-decoration: none;
        }
        .projects {
            width: 100%;
            height: 250px;
            box-shadow: 5px 5px 15px 1px #000; // &:hover {
            //     transform: scale(1.1);
            // }
            h2 {
                font: {
                    size: 1.4rem;
                }
            }
        }
        .naslov {
            background-color: rgba(0, 0, 0, .6);
            width: 100%;
            padding: 20px;
            color: #fff;
        }
        .project1 {
            background: {
                image: url("../images/sara.jpg");
                size: cover;
                position: center;
            }
        }

        .project2 {
            background: {
                image: url("../images/web.jpg");
                size: cover;
                position: center;
            }
        }

        .project3 {
            background: {
                image: url("../images/kviz.jpg");
                size: cover;
                position: center;
            }
        }

        .project4 {
            background: {
                image: url("../images/calculator.jpg");
                size: cover;
                position: center;
            }
        }
        .project5 {
            background: {
                image: url("../images/weather.jpg");
                size: cover;
                position: center;
            }
        }
        .project6 {
            background: {
                image: url("../images/air.jpg");
                size: cover;
                position: center;
            }
        }
        .project7 {
            background: {
                image: url("../images/orange.jpg");
                size: cover;
                position: center;
            }
        }
        .project8 {
           background: {
                image: url("../images/wordpress_site.jpg");
                size: cover;
                position: center;
            } 
        }
        .project9 {
           background: {
                image: url("../images/jamesmathilda.jpg");
                size: cover;
                position: center;
            } 
        }
    }
    #skills {
        padding-top: 5rem;
        .progress {
            height: 25px;
            box-shadow: 3px 3px 15px #000;
        }

        .progress-bar {
            transition: 2s;
            width: 80%;
            background: $blue;
        }
        .sixty {
            width: 60%;
        }
        .seventy {
            width: 70%;
        }

        .first {
            max-width: 70%;
            cursor: pointer;
            &:hover {
                border: 2px solid gray;
            }
        }
        .modal.fade {

            .modal-content {

                .close {
                    font-size: 2.5rem;
                }

                .modal-body {
                    padding: 0;
                }
            }
        }
    }
    #contact {
        background:{
            image: url('../images/contact-us.jpg');
            size: cover;
            position: center;
            attachment: fixed;
        };
        .background-contact {
            background-color: rgba(0,0,0,.7);
            padding: 15px;
        }
        i {
            margin-right: 20px;
            font: {
                size: 20px;
            }
            color:$blue;
        }
        a {
            text-decoration: none;
            color:$blue;
        }
        p {
            font: {
                size: 20px;
            }
        }
        a {
            i {
                margin: 0;
                font: {
                    size: 40px;
                }
            }
            .fas {
                padding: 5px;
                background-color: #bdbdbd;
                float: right;
                margin-right: 30px;
                opacity: 0.9;
            }
        }
    }
    footer {
        background: {
            color: #000;
        }
    }
    @media screen and (max-width:992px) {

        #aboutMe {
            .slikaDesno {
                margin-top: 30px;
            }
        }
        #skills {
            .progress-bar {
                width: 80%;
                &[aria-valuenow="70"] {
                    width: 70%;
                }
            }
        }
    }
     @media screen and (max-width:768px) {
        #portfolio {
            clip-path: initial;
        }
    }
    @media screen and (max-width:425px) {
        p {
            font-size: 16px !important;
        }
        #myHeader {
            .row {
                h2 {
                    font: {
                        size: 3rem;
                    }
                }
                h1 {
                    font: {
                        size: 2rem;
                    }
                }
            }
        }
        #aboutMe {
            p {
                font: {
                    size: 16px;
                }
            }
        }
    }